html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto Slab', serif;
	vertical-align: baseline;
	box-sizing: border-box;
}


body{
    background-color:#c1ccd4 ;
}
.container-data-recovery{
    display: none;
    margin: 10px auto;
    max-width: 480px;
    padding: 15px;
    border: 3px solid #ffffff;
    background: #44ac67;
    color: #025226;
    border-radius: 10px;
    text-align: center;
}
.cardData{
    color: #020202;

    text-align: initial;
    display: block;
}
.cardData label{
    font-weight: bold;
}
.form-register{
    text-align: center;
    width: 100%;
    max-width: 480px;
    padding: 30px;
    margin: 30px auto;
    min-width: 350px;
    background: #fff;
    box-shadow: 3px 3px 6px #afafafb3;
    border-radius: 15px;
}
.form-container{
    width: 100%;
    margin-top: 15px;
    text-align: left;
}
.input-container{
    width: 100%;
    margin-bottom: 20px;


}
.input-label-register{
    display: block;
    margin-bottom: 10px;
}
.input-register, .input-register-complemento{
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
}
.input-telefone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.ipt-numberDDD{
    width: 80px;
}

.ipt-numberTel{
    width: calc(100% - 100px);
}
.alert{
    color: #f73333;
    display: none;
}
.alertAtivo{
    display:block ;
}
.error, .error:focus-visible{
    outline-color: #f73333;
    border:1px solid #f73333;
}
.successful,.successful:focus-visible{
    outline-color: #2ebb64;
    border:2px solid #2ebb64;

}

.number-justfy{
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}
.container-endereco{
    margin-top: 20px;
}
.container-endereco p:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ipt-endereco{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ipt-endereco-number{
    width: 80px;

}
.ipt-cidade{
    width: calc(100% - 100px);
}
.slct-uf{
    width: 80px;
    font-size: 14px;
    height: 50px;
}
.container-button{
    text-align: center;
}
.btn-send{
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 50px;
    background-color: #059862;
    color: #fff;
    border: 1px solid #04ffa3;
    border-radius: 10px ;
    box-shadow: 0px 1px 2px 0px #0000007d;
}
.btn-send:disabled{
    border: 1px solid #272727;
    background-color: #9b9e9d;
    cursor: not-allowed;
}